@media (min-width: 400px) {
  .col-xsml-1,
  .col-xsml-2,
  .col-xsml-3,
  .col-xsml-4,
  .col-xsml-5,
  .col-xsml-6,
  .col-xsml-7,
  .col-xsml-8,
  .col-xsml-9,
  .col-xsml-10,
  .col-xsml-11,
  .col-xsml-12 {
    float: left;
  }
  .col-xsml-12 {
    width: 100%;
  }
  .col-xsml-11 {
    width: 91.66666667%;
  }
  .col-xsml-10 {
    width: 83.33333333%;
  }
  .col-xsml-9 {
    width: 75%;
  }
  .col-xsml-8 {
    width: 66.66666667%;
  }
  .col-xsml-7 {
    width: 58.33333333%;
  }
  .col-xsml-6 {
    width: 50%;
  }
  .col-xsml-5 {
    width: 41.66666667%;
  }
  .col-xsml-4 {
    width: 33.33333333%;
  }
  .col-xsml-3 {
    width: 25%;
  }
  .col-xsml-2 {
    width: 16.66666667%;
  }
  .col-xsml-1 {
    width: 8.33333333%;
  }
}

h3 {
  padding: 5px;
}

td {
  padding: 3px;
}

table {
  margin-left: 20px;
}


